.box{
    display: flex;
    gap:700px
}
#win{
    margin-left: 50px;
}
#win,#loss{
    margin-top: 20px;
    font-size: 50px;
}
#loss{
    margin-right: 50px;
}
#resultnow{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-left: 280px;
    margin-top: 30px;
padding-right: 325px;
}
#resultofmatch{
    font-size: 40px;
    margin-left: 370px;
    margin-top: 30px;
}
.buttons{
    display: flex;
    margin-left: 290px;
    margin-top: 150px;
    gap: 30px;
}
.rockb,.paperb,.scissorsb{
    height: 50px;
    width:100px;
}